In [34]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from pprint import pprint

## Loading and Preprocessing  Data

Load the `heart_attack_prediction_dataset.csv` in a pandas DataFrame called `df`

In [35]:
# Loading data
file_path = Path("Resources/heart_attack_prediction_dataset.csv")
df = pd.read_csv(file_path)
df[:5]

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Obesity                          8763 non-null   int64
 10  Alcohol Consumption              8763 non-null   int64
 11  Exercise Hours Per Week          8763 non-null   float64
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   int64
 14  Medication Use                   8763 non-null   int64
 15  Stress Level                     8763 non-null   int64
 16  Sedentary Hours Per Day          8763 non-null   float64
 17  Income                           8763 non-null   int64
 18  BMI                              8763 non-null   float64
 19  Triglycerides                    8763 non-null   int64
 20  Physical Activity Days Per Week  8763 non-null   int64
 21  Sleep Hours Per Day              8763 non-null   int64
 22  Country                          8763 non-null   object
 23  Continent                        8763 non-null   object
 24  Hemisphere                       8763 non-null   object
 25  Heart Attack Risk                8763 non-null   int64
dtypes: float64(3), int64(16), object(7)
memory usage: 1.7+ MB

In [37]:
# Split the "Blood Pressure" column into two separate columns for systolic and diastolic pressure
df[['Systolic Pressure', 'Diastolic Pressure']] = df['Blood Pressure'].str.split('/', expand=True)

# Convert the new columns to numeric
df['Systolic Pressure'] = pd.to_numeric(df['Systolic Pressure'])
df['Diastolic Pressure'] = pd.to_numeric(df['Diastolic Pressure'])

# Drop the original "Blood Pressure" column
df.drop('Blood Pressure', axis=1, inplace=True)

df.columns

Index(['Patient ID', 'Age', 'Sex', 'Cholesterol', 'Heart Rate', 'Diabetes',
       'Family History', 'Smoking', 'Obesity', 'Alcohol Consumption',
       'Exercise Hours Per Week', 'Diet', 'Previous Heart Problems',
       'Medication Use', 'Stress Level', 'Sedentary Hours Per Day', 'Income',
       'BMI', 'Triglycerides', 'Physical Activity Days Per Week',
       'Sleep Hours Per Day', 'Country', 'Continent', 'Hemisphere',
       'Heart Attack Risk', 'Systolic Pressure', 'Diastolic Pressure'],
      dtype='object')

In [38]:
# Dictionary mapping values in the 'gender' column to new values
mapping = {'Female':0,'Male':1,
           'Northern Hemisphere':0,'Southern Hemisphere':1}

# Use the 'map' method to change the values in the 'gender' column
df['Sex'] = df['Sex'].map(mapping)
df['Hemisphere'] = df['Hemisphere'].map(mapping)

# Show DataFrame
df[:5]

,Patient ID,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,...,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk,Systolic Pressure,Diastolic Pressure
0,BMW7812,67,1,208,72,0,0,1,0,0,...,31.251233,286,0,6,Argentina,South America,1,0,158,88
1,CZE1114,21,1,389,98,1,1,1,1,1,...,27.194973,235,1,7,Canada,North America,0,0,165,93
2,BNI9906,21,0,324,72,1,0,0,0,0,...,28.176571,587,4,4,France,Europe,0,0,174,99
3,JLN3497,84,1,383,73,1,1,1,0,1,...,36.464704,378,3,4,Canada,North America,0,0,163,100
4,GFO8847,66,1,318,93,1,1,1,1,0,...,21.809144,231,1,5,Thailand,Asia,0,0,91,88

In [39]:
# Check unique values for each column
for col in df.columns:
    print(f"Unique values for column '{col}': {df[col].unique()}")

Unique values for column 'Patient ID': ['BMW7812' 'CZE1114' 'BNI9906' ... 'XKA5925' 'EPE6801' 'ZWN9666']
Unique values for column 'Age': [67 21 84 66 54 90 20 43 73 71 77 60 88 69 38 50 45 36 48 40 79 63 27 25
 86 42 52 29 30 47 44 33 51 70 85 31 56 24 74 72 55 26 53 46 57 22 35 39
 80 65 83 82 28 19 75 18 34 37 89 32 49 23 59 62 64 61 76 41 87 81 58 78
 68]
Unique values for column 'Sex': [1 0]
Unique values for column 'Cholesterol': [208 389 324 383 318 297 358 220 145 248 373 374 228 259 122 379 166 303
 340 294 359 202 133 159 271 273 328 154 135 197 321 375 360 263 201 347
 129 229 251 121 190 185 279 336 192 180 203 368 222 243 218 120 285 377
 369 311 139 266 153 339 329 333 398 124 183 163 362 390 200 396 255 209
 247 250 227 246 223 330 195 194 178 155 240 237 216 276 224 326 198 301
 314 304 334 213 254 230 316 277 388 206 384 205 261 308 338 382 291 168
 171 378 253 245 226 281 123 173 231 234 268 306 186 293 161 380 239 149
 320 219 335 265 126 307 270 225 193 148 296 136 364 353 252 232 387 299
 357 214 370 345 351 344 152 150 131 272 302 337 170 356 274 188 125 138
 376 181 184 275 394 128 217 399 283 289 284 327 262 212 350 385 162 141
 361 244 295 287 144 354 363 352 140 196 172 319 325 331 392 147 187 346
 286 151 300 165 343 366 317 386 158 157 242 241 365 257 348 175 298 269
 267 397 310 341 204 127 290 280 132 322 179 199 143 312 288 395 189 156
 238 381 391 355 210 400 260 235 167 256 249 207 130 134 137 305 236 315
 292 323 146 258 332 372 142 309 177 367 371 211 282 342 264 176 160 233
 313 164 349 221 191 174 393 278 215 169 182]
Unique values for column 'Heart Rate': [ 72  98  73  93  48  84 107  68  55  97  70  85 102  40  56 104  71  69
  66  81  52 105  96  74  49  45  50  46  44 106  83  86  65 101  51  43
  79  90  94  78  92  54 109  61  64  82 110  42  63  41 100  76  75  58
  53  60  77  47  59  57  87  67  88  99  80  95 108  89  62 103  91]
Unique values for column 'Diabetes': [0 1]
Unique values for column 'Family History': [0 1]
Unique values for column 'Smoking': [1 0]
Unique values for column 'Obesity': [0 1]
Unique values for column 'Alcohol Consumption': [0 1]
Unique values for column 'Exercise Hours Per Week': [ 4.16818884  1.81324162  2.07835299 ...  3.14843791  3.78994983
 18.08174797]
Unique values for column 'Diet': ['Average' 'Unhealthy' 'Healthy']
Unique values for column 'Previous Heart Problems': [0 1]
Unique values for column 'Medication Use': [0 1]
Unique values for column 'Stress Level': [ 9  1  6  2  7  4  5  8 10  3]
Unique values for column 'Sedentary Hours Per Day': [6.61500145 4.96345884 9.46342584 ... 2.37521373 0.02910426 9.00523438]
Unique values for column 'Income': [261404 285768 235282 ...  36998 209943 247338]
Unique values for column 'BMI': [31.25123273 27.19497335 28.17657068 ... 35.40614616 27.29402009
 32.91415086]
Unique values for column 'Triglycerides': [286 235 587 378 231 795 284 370 790 232 469 523 590 506 635 773  68 402
 517 247 747 360 358 526 605 667 316 551 482 718 297 661 558 209 586 743
 411 785 697 519 595 452 158 679 675 792 584 366 741 474  92 410 398 493
 614 682 106 216 408 628 481  67  82 305 164 211 511 766 547 327 367 681
 131  42 692 664 543 689 569 458 683 779 136 643 653  55 275 314 760 404
 576 690 648 385 255 468 784 509 205 109 530 654 331 485 250 113 377 180
 229 602 285 471 554 344 416 445 709 426 528 388 441 306 749 347 341 451
 356 336 455 223 262 239 555 363 489 788 121 553 617 174 167 563 665  65
 657 237 141 767 292 214 221 447 634 460 711  97 267 695 717 383 332 449
 701 524 549  31 276 744 128  52 394  54 739 407 751 436 473 218 129 579
 492 696 202 197 521 325  35 123 694 434 248 348 750 431 714 649 668 401
 610 244 691  88 532 777 420 350 652 413 754 753 457 122 312 778 676 775
 183 601 317 592 191  83  32 453 423 234 650 565 798 769 412  63 198  93
 764 737  94 298 288 735 190 281 146 574 359 155 719 466 273 515 187 544
 103 132 118 115  85  38 117 362 133 498 645 339 787 733 663 291 502  78
  81 257 624  91 374 270 797 446 464 450 722 556 184 428 796 656 134 196
 623 522 376 730 463  99 593  47 148 302  57 280 389 629 294 186 700 774
 181 375 467 603 616 380 495 698 318 207 780  51  84 425 310 126  56 472
 669 688 655  39 333 501 479 540 433 179 490 204 644 525 546 486 320 319
  58 591 165 732 195 478 461 631 301  50 315 194 199 160 149 527 406 161
 125 200 277 308  69 427 236  77 500 269  79 168 575 606 355 636  64 251
 245 228 287 800 483 791 260 604 536 559 124 254 159  73 542 390 755  60
  61 491  40 437 215 440 379 789 266 505 243 783 403 637 156 729 438 507
 725 562 324  87 253 626 541 364 456  30 182 621 494 776 442 429 684 219
  70  98 166  95 135 646 337 226 710 608 208 724 704 512 206 224 622 598
 465 119 293 630 386 513  45 578 261 217 715 282 391 580 192 399 249 396
 278 448 782 419 503 220  49 304 157 150 545 627 582 178 263  33 299 303
  66 763 256 139 651 756 372 345  48  46 421  43 771 210 781  41 508 353
 566 726 736 326 759 477 369 188 104 329 309 384 599 415 770 571 552 145
 632 373  71 550 583 322 475 357 673 454 757 201 100 274 258 613 233 330
 731 761 296 573 335 716 642 142 674 572 638 222 752 740 397 594 705 381
 615 539 242 499 435 680 535 238 283  89 589 666 678  76 176 620  75 721
 143 723 570  44 203 259 677 734 662 707 745 487 577 443 120 111 365 116
 538 162 742 212 581 313  36 400 619 609 252 706 264 290 138 300 346 712
  34 387 140 154 758 462 672 713  86 414 699 529 382 432 368 193  72 537
 560 189 342 531 311 241 685 497 640 321 480 144 585 171 727 660 799 600
 597 213 708 151 265 618 658 746 307  53 514 611 153 352 225 567 702 520
 417 102 607 548 647 476 762 147 424 459 409  74 510  37 323 240 175 786
  80 439 504 772 670  59 334 703 392  90 496 422 279 343 671 794 163 328
 625 272 227 152 105 693  96 484 568 633 659 230 112 793 101 172 110 612
 185 289 418 533 686 641 169 349 173 516  62 557 596 728 371 738 444 561
 114 765 338 588 246 295 564 488 177 687 395 518 127 639 137 354 271 107
 340 534 768 130 720 405 430 268 108 748 351 393 361 170 470]
Unique values for column 'Physical Activity Days Per Week': [0 1 4 3 5 6 7 2]
Unique values for column 'Sleep Hours Per Day': [ 6  7  4  5 10  8  9]
Unique values for column 'Country': ['Argentina' 'Canada' 'France' 'Thailand' 'Germany' 'Japan' 'Brazil'
 'South Africa' 'United States' 'Vietnam' 'China' 'Italy' 'Spain' 'India'
 'Nigeria' 'New Zealand' 'South Korea' 'Australia' 'Colombia'
 'United Kingdom']
Unique values for column 'Continent': ['South America' 'North America' 'Europe' 'Asia' 'Africa' 'Australia']
Unique values for column 'Hemisphere': [1 0]
Unique values for column 'Heart Attack Risk': [0 1]
Unique values for column 'Systolic Pressure': [158 165 174 163  91 172 102 131 144 160 107 101 169 112 114 173 120 180
 130 175 161 140 148 113  99 178 111 103  94 127 134 115 124 104 149 106
 168 159 100 118 152 151 109  92 179 132 177 110 116 139 164 122  95 155
 108 105 146 166 117 145 170 125 135 137 121 126 142 128 143  96 153 156
 162  98 150 133 157 154 123 171  90 176 167 141 138 119  97  93 147 129
 136]
Unique values for column 'Diastolic Pressure': [ 88  93  99 100  86  73  68 105  70  69  71  72  81  75  74  98 101  84
  60 109  90  95  76  78  77  91  85 107  92  96 108  63 106  79  80  83
  61  65  97  94  66 110 104  67  89 102  82  62  64  87 103]

In [40]:
# Define categorical features
categorical_features = ['Country', 'Continent', 'Diet'] 
categorical_dummies = pd.get_dummies(df[categorical_features])
categorical_dummies[:5]

,Country_Argentina,Country_Australia,Country_Brazil,Country_Canada,Country_China,Country_Colombia,Country_France,Country_Germany,Country_India,Country_Italy,...,Country_Vietnam,Continent_Africa,Continent_Asia,Continent_Australia,Continent_Europe,Continent_North America,Continent_South America,Diet_Average,Diet_Healthy,Diet_Unhealthy
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [41]:
# Define numerical features
numerical_features = [col for col in df.columns if col not in ['Patient ID','Heart Attack Risk'] + categorical_features]

In [42]:
encoded_df = pd.concat([df.drop(categorical_features, axis=1), categorical_dummies], axis=1)
encoded_df['Patient ID'] = df['Patient ID']
encoded_df = encoded_df.set_index('Patient ID')
encoded_df.columns

Index(['Age', 'Sex', 'Cholesterol', 'Heart Rate', 'Diabetes', 'Family History',
       'Smoking', 'Obesity', 'Alcohol Consumption', 'Exercise Hours Per Week',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Hemisphere',
       'Heart Attack Risk', 'Systolic Pressure', 'Diastolic Pressure',
       'Country_Argentina', 'Country_Australia', 'Country_Brazil',
       'Country_Canada', 'Country_China', 'Country_Colombia', 'Country_France',
       'Country_Germany', 'Country_India', 'Country_Italy', 'Country_Japan',
       'Country_New Zealand', 'Country_Nigeria', 'Country_South Africa',
       'Country_South Korea', 'Country_Spain', 'Country_Thailand',
       'Country_United Kingdom', 'Country_United States', 'Country_Vietnam',
       'Continent_Africa', 'Continent_Asia', 'Continent_Australia',
       'Continent_Europe', 'Continent_North America',
       'Continent_South America', 'Diet_Average', 'Diet_Healthy',
       'Diet_Unhealthy'],
      dtype='object')

In [43]:
# Separate features and target variable
X = encoded_df.drop(['Heart Attack Risk'], axis=1)
y = encoded_df['Heart Attack Risk']

## Split the data into training and testing sets.

In [44]:

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)