In [93]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from pprint import pprint


#Spark imports
!wget -q https://dlcdn.apache.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
!tar xf spark-3.5.0-bin-hadoop3.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j
import os
import sys


# Start a SparkSession
import findspark
findspark.init()


# Amazon SageMaker and related imports
import sagemaker
import sagemaker.amazon.common as smac
from sagemaker.deserializers import JSONDeserializer
from sagemaker.serializers import CSVSerializer
from sagemaker import get_execution_role
from sagemaker import image_uris
import boto3  # AWS Python sdk

%matplotlib inline

Requirement already satisfied: pyspark in /home/ec2-user/anaconda3/envs/tensorflow2_p310/lib/python3.10/site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /home/ec2-user/anaconda3/envs/tensorflow2_p310/lib/python3.10/site-packages (from pyspark) (0.10.9.5)
Requirement already satisfied: py4j in /home/ec2-user/anaconda3/envs/tensorflow2_p310/lib/python3.10/site-packages (0.10.9.5)

In [94]:
# Import packages
from pyspark.sql import SparkSession
# Import the time module so we can time our queries.
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").config("spark.driver.memory", "2g").getOrCreate()

In [95]:
# from pyspark.sql import SparkSession

# # Create a SparkSession
# spark = SparkSession.builder \
#     .appName("S3 CSV Reader") \
#     .getOrCreate()

# # AWS credentials
# aws_access_key_id = "YOUR_ACCESS_KEY_ID"
# aws_secret_access_key = "YOUR_SECRET_ACCESS_KEY"

# # S3 bucket and file path
# s3_bucket = "bucketname"
# filename = "filename.csv"

# # Read data from S3 bucket
# s3_file_path = f"s3a://{aws_access_key_id}:{aws_secret_access_key}@{s3_bucket}/{filename}"
# data = spark.read.csv(s3_file_path, sep=",", header=True)

# # Display DataFrame
# data.show()

# # Stop SparkSession
# spark.stop()

In [96]:
# from pyspark.sql import SparkSession

# # Create a SparkSession with AWS credentials
# spark = SparkSession.builder \
#     .appName("S3 CSV Reader") \
#     .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
#     .getOrCreate()

# # Read data from S3 bucket
# s3_bucket = "aws-project4-uoft"
# s3_file_path = "s3a://aws-project4-uoft.s3.ca-central-1.amazonaws.com/heart_attack_prediction_dataset.csv"
# data = spark.read.csv(s3_file_path, sep=",", header=True)

# # Display DataFrame
# data.show()

# # Stop SparkSession
# spark.stop()

In [97]:
# Read in data from S3 Bucket
from pyspark import SparkFiles
url = "Resources/heart_attack_prediction_dataset.csv"
# "https://aws-project4-uoft.s3.ca-central-1.amazonaws.com/heart_attack_prediction_dataset.csv"
#spark.sparkContext.addFile(url)
#df = spark.read.csv(SparkFiles.get("heart_attack_prediction_dataset.csv"), sep=",", header=True)

df = spark.read.csv(url, sep=",", header=True)

df.show()

+----------+---+------+-----------+--------------+----------+--------+--------------+-------+-------+-------------------+-----------------------+---------+-----------------------+--------------+------------+-----------------------+------+------------------+-------------+-------------------------------+-------------------+-------------+-------------+-------------------+-----------------+
|Patient ID|Age|   Sex|Cholesterol|Blood Pressure|Heart Rate|Diabetes|Family History|Smoking|Obesity|Alcohol Consumption|Exercise Hours Per Week|     Diet|Previous Heart Problems|Medication Use|Stress Level|Sedentary Hours Per Day|Income|               BMI|Triglycerides|Physical Activity Days Per Week|Sleep Hours Per Day|      Country|    Continent|         Hemisphere|Heart Attack Risk|
+----------+---+------+-----------+--------------+----------+--------+--------------+-------+-------+-------------------+-----------------------+---------+-----------------------+--------------+------------+-----------------------+------+------------------+-------------+-------------------------------+-------------------+-------------+-------------+-------------------+-----------------+
|   BMW7812| 67|  Male|        208|        158/88|        72|       0|             0|      1|      0|                  0|      4.168188835442079|  Average|                      0|             0|           9|     6.6150014529140595|261404|31.251232725295402|          286|                              0|                  6|    Argentina|South America|Southern Hemisphere|                0|
|   CZE1114| 21|  Male|        389|        165/93|        98|       1|             1|      1|      1|                  1|     1.8132416178634458|Unhealthy|                      1|             0|           1|      4.963458839757678|285768|  27.1949733519874|          235|                              1|                  7|       Canada|North America|Northern Hemisphere|                0|
|   BNI9906| 21|Female|        324|        174/99|        72|       1|             0|      0|      0|                  0|     2.0783529861178884|  Healthy|                      1|             1|           9|      9.463425838029828|235282|28.176570683909873|          587|                              4|                  4|       France|       Europe|Northern Hemisphere|                0|
|   JLN3497| 84|  Male|        383|       163/100|        73|       1|             1|      1|      0|                  1|       9.82812959348533|  Average|                      1|             0|           9|      7.648980824461007|125640|36.464704293082846|          378|                              3|                  4|       Canada|North America|Northern Hemisphere|                0|
|   GFO8847| 66|  Male|        318|         91/88|        93|       1|             1|      1|      1|                  0|      5.804298820315434|Unhealthy|                      1|             0|           6|     1.5148209264291386|160555|21.809144180619754|          231|                              1|                  5|     Thailand|         Asia|Northern Hemisphere|                0|
|   ZOO7941| 54|Female|        297|        172/86|        48|       1|             1|      1|      0|                  1|     0.6250080237057354|Unhealthy|                      1|             1|           2|      7.798752408582432|241339|20.146839503010046|          795|                              5|                 10|      Germany|       Europe|Northern Hemisphere|                1|
|   WYV0966| 90|  Male|        358|        102/73|        84|       0|             0|      1|      0|                  1|      4.098177090985471|  Healthy|                      0|             0|           7|     0.6273560009569512|190450|28.885810606590454|          284|                              4|                 10|       Canada|North America|Northern Hemisphere|                1|
|   XXM0972| 84|  Male|        220|        131/68|       107|       0|             0|      1|      1|                  1|      3.427928754300873|  Average|                      0|             1|           4|     10.543780239266841|122093|  22.2218617394038|          370|                              6|                  7|        Japan|         Asia|Northern Hemisphere|                1|
|   XCQ5937| 20|  Male|        145|       144/105|        68|       1|             0|      1|      1|                  0|     16.868302239450017|  Average|                      0|             0|           5|     11.348786873498993| 25086| 35.80990131909641|          790|                              7|                  4|       Brazil|South America|Southern Hemisphere|                0|
|   FTJ5456| 43|Female|        248|        160/70|        55|       0|             1|      1|      1|                  1|     0.1945150606299495|Unhealthy|                      0|             0|           4|      4.055114781794609|209703| 22.55891675229818|          232|                              7|                  7|        Japan|         Asia|Northern Hemisphere|                0|
|   HSD6283| 73|Female|        373|        107/69|        97|       1|             1|      1|      0|                  1|     16.841987593616683|  Average|                      1|             1|           8|      8.919879240644143| 50030|22.867910772851292|          469|                              0|                  4| South Africa|       Africa|Southern Hemisphere|                0|
|   YSP0073| 71|  Male|        374|        158/71|        70|       1|             1|      1|      1|                  1|      8.251995072165778|  Average|                      0|             0|           4|      7.227338314321001|163066| 32.48534524081809|          523|                              4|                  8|United States|North America|Northern Hemisphere|                0|
|   FPS0415| 77|  Male|        228|        101/72|        68|       1|             1|      1|      1|                  1|     19.633268156072297|Unhealthy|                      0|             0|           9|      10.91752425375187| 29886| 35.10223615396757|          590|                              7|                  6|      Vietnam|         Asia|Northern Hemisphere|                1|
|   YYU9565| 60|  Male|        259|        169/72|        85|       1|             1|      1|      0|                  1|     17.037374183793826|  Healthy|                      1|             1|           1|      8.727417211573485|292173|25.564897154053256|          506|                              1|                  4|        China|         Asia|Northern Hemisphere|                1|
|   VTW9069| 88|  Male|        297|        112/81|       102|       1|             1|      1|      0|                  1|     15.387604628162732|Unhealthy|                      0|             1|           2|     10.425489575178839|165300|25.491740663098113|          635|                              3|                  6|        China|         Asia|Northern Hemisphere|                0|
|   DCY3282| 73|  Male|        122|        114/88|        97|       1|             1|      1|      0|                  1|      14.55966449587795|  Average|                      0|             0|           5|     10.086478972289001|265839| 36.52439523724413|          773|                              5|                  8|        Italy|       Europe|Southern Hemisphere|                1|
|   DXB2434| 69|  Male|        379|        173/75|        40|       1|             1|      1|      1|                  1|      4.184648045763792|  Average|                      1|             0|           5|      9.060508567942696|267997| 28.33274719642221|           68|                              3|                  6|       Brazil|South America|Southern Hemisphere|                0|
|   COP0566| 38|  Male|        166|        120/74|        56|       1|             0|      1|      1|                  0|      8.917907230374425|  Healthy|                      0|             1|           9|     3.6607487911676633| 48376| 29.51738755573402|          402|                              0|                  6|     Thailand|         Asia|Northern Hemisphere|                0|
|   XBI0592| 50|Female|        303|       120/100|       104|       1|             0|      1|      0|                  1|      4.943580247406594|  Average|                      1|             1|           1|     7.5869839411141005| 21501|25.964350731612438|          517|                              1|                  5|United States|North America|Northern Hemisphere|                1|
|   RQX1211| 60|  Male|        145|        160/98|        71|       1|             0|      1|      0|                  1|      1.892559330229886|  Healthy|                      1|             0|           8|      5.994227909599145|234966| 29.16231875379266|          247|                              7|                  7|       Canada|North America|Northern Hemisphere|                0|
+----------+---+------+-----------+--------------+----------+--------+--------------+-------+-------+-------------------+-----------------------+---------+-----------------------+--------------+------------+-----------------------+------+------------------+-------------+-------------------------------+-------------------+-------------+-------------+-------------------+-----------------+
only showing top 20 rows

In [98]:
# Convert PySpark DataFrame to Pandas DataFrame for display options
pd_df = df.toPandas()

# Set display options
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", None)
pd.set_option("display.precision", 2)

# Display the DataFrame
pd_df.head(10)

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,0,4.168188835442079,Average,0,0,9,6.6150014529140595,261404,31.251232725295402,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,1,1.8132416178634458,Unhealthy,1,0,1,4.963458839757678,285768,27.1949733519874,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,0,2.0783529861178884,Healthy,1,1,9,9.463425838029828,235282,28.176570683909873,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,1,9.82812959348533,Average,1,0,9,7.648980824461007,125640,36.464704293082846,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,0,5.804298820315434,Unhealthy,1,0,6,1.5148209264291386,160555,21.809144180619754,231,1,5,Thailand,Asia,Northern Hemisphere,0
5,ZOO7941,54,Female,297,172/86,48,1,1,1,0,1,0.6250080237057354,Unhealthy,1,1,2,7.798752408582432,241339,20.146839503010046,795,5,10,Germany,Europe,Northern Hemisphere,1
6,WYV0966,90,Male,358,102/73,84,0,0,1,0,1,4.098177090985471,Healthy,0,0,7,0.6273560009569512,190450,28.885810606590454,284,4,10,Canada,North America,Northern Hemisphere,1
7,XXM0972,84,Male,220,131/68,107,0,0,1,1,1,3.427928754300873,Average,0,1,4,10.543780239266841,122093,22.2218617394038,370,6,7,Japan,Asia,Northern Hemisphere,1
8,XCQ5937,20,Male,145,144/105,68,1,0,1,1,0,16.868302239450017,Average,0,0,5,11.348786873498993,25086,35.80990131909641,790,7,4,Brazil,South America,Southern Hemisphere,0
9,FTJ5456,43,Female,248,160/70,55,0,1,1,1,1,0.1945150606299495,Unhealthy,0,0,4,4.055114781794609,209703,22.55891675229818,232,7,7,Japan,Asia,Northern Hemisphere,0

In [99]:
pd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   object
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   object
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   object
 6   Diabetes                         8763 non-null   object
 7   Family History                   8763 non-null   object
 8   Smoking                          8763 non-null   object
 9   Obesity                          8763 non-null   object
 10  Alcohol Consumption              8763 non-null   object
 11  Exercise Hours Per Week          8763 non-null   object
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   object
 14  Medication Use                   8763 non-null   object
 15  Stress Level                     8763 non-null   object
 16  Sedentary Hours Per Day          8763 non-null   object
 17  Income                           8763 non-null   object
 18  BMI                              8763 non-null   object
 19  Triglycerides                    8763 non-null   object
 20  Physical Activity Days Per Week  8763 non-null   object
 21  Sleep Hours Per Day              8763 non-null   object
 22  Country                          8763 non-null   object
 23  Continent                        8763 non-null   object
 24  Hemisphere                       8763 non-null   object
 25  Heart Attack Risk                8763 non-null   object
dtypes: object(26)
memory usage: 1.7+ MB

In [100]:
# Split the "Blood Pressure" column into two separate columns for systolic and diastolic pressure
pd_df[['Systolic Pressure', 'Diastolic Pressure']] = pd_df['Blood Pressure'].str.split('/', expand=True)

# Convert the new columns to numeric
pd_df['Systolic Pressure'] = pd.to_numeric(pd_df['Systolic Pressure'])
pd_df['Diastolic Pressure'] = pd.to_numeric(pd_df['Diastolic Pressure'])

# Drop the original "Blood Pressure" column
pd_df.drop('Blood Pressure', axis=1, inplace=True)

pd_df.columns

Index(['Patient ID', 'Age', 'Sex', 'Cholesterol', 'Heart Rate', 'Diabetes',
       'Family History', 'Smoking', 'Obesity', 'Alcohol Consumption',
       'Exercise Hours Per Week', 'Diet', 'Previous Heart Problems',
       'Medication Use', 'Stress Level', 'Sedentary Hours Per Day', 'Income',
       'BMI', 'Triglycerides', 'Physical Activity Days Per Week',
       'Sleep Hours Per Day', 'Country', 'Continent', 'Hemisphere',
       'Heart Attack Risk', 'Systolic Pressure', 'Diastolic Pressure'],
      dtype='object')

In [101]:
# Dictionary mapping values in the 'gender' column to new values
mapping = {'Female':0,'Male':1,
           'Northern Hemisphere':0, 'Southern Hemisphere':1}

# Use the 'map' method to change the values in the 'gender' column
pd_df['Sex'] = pd_df['Sex'].map(mapping)
pd_df['Hemisphere'] = pd_df['Hemisphere'].map(mapping)

# Show DataFrame
pd_df[:5]

,Patient ID,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk,Systolic Pressure,Diastolic Pressure
0,BMW7812,67,1,208,72,0,0,1,0,0,4.168188835442079,Average,0,0,9,6.6150014529140595,261404,31.251232725295402,286,0,6,Argentina,South America,1,0,158,88
1,CZE1114,21,1,389,98,1,1,1,1,1,1.8132416178634458,Unhealthy,1,0,1,4.963458839757678,285768,27.1949733519874,235,1,7,Canada,North America,0,0,165,93
2,BNI9906,21,0,324,72,1,0,0,0,0,2.0783529861178884,Healthy,1,1,9,9.463425838029828,235282,28.176570683909873,587,4,4,France,Europe,0,0,174,99
3,JLN3497,84,1,383,73,1,1,1,0,1,9.82812959348533,Average,1,0,9,7.648980824461007,125640,36.464704293082846,378,3,4,Canada,North America,0,0,163,100
4,GFO8847,66,1,318,93,1,1,1,1,0,5.804298820315434,Unhealthy,1,0,6,1.5148209264291386,160555,21.809144180619754,231,1,5,Thailand,Asia,0,0,91,88

In [102]:
# Define categorical features
categorical_features = ['Country', 'Continent', 'Diet'] 
categorical_dummies = pd.get_dummies(pd_df[categorical_features])
categorical_dummies[:5]

,Country_Argentina,Country_Australia,Country_Brazil,Country_Canada,Country_China,Country_Colombia,Country_France,Country_Germany,Country_India,Country_Italy,Country_Japan,Country_New Zealand,Country_Nigeria,Country_South Africa,Country_South Korea,Country_Spain,Country_Thailand,Country_United Kingdom,Country_United States,Country_Vietnam,Continent_Africa,Continent_Asia,Continent_Australia,Continent_Europe,Continent_North America,Continent_South America,Diet_Average,Diet_Healthy,Diet_Unhealthy
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1

In [103]:
# Check unique values for each column
for col in pd_df.columns:
    print(f"Unique values for column '{col}': {pd_df[col].unique()}")

Unique values for column 'Patient ID': ['BMW7812' 'CZE1114' 'BNI9906' ... 'XKA5925' 'EPE6801' 'ZWN9666']
Unique values for column 'Age': ['67' '21' '84' '66' '54' '90' '20' '43' '73' '71' '77' '60' '88' '69'
 '38' '50' '45' '36' '48' '40' '79' '63' '27' '25' '86' '42' '52' '29'
 '30' '47' '44' '33' '51' '70' '85' '31' '56' '24' '74' '72' '55' '26'
 '53' '46' '57' '22' '35' '39' '80' '65' '83' '82' '28' '19' '75' '18'
 '34' '37' '89' '32' '49' '23' '59' '62' '64' '61' '76' '41' '87' '81'
 '58' '78' '68']
Unique values for column 'Sex': [1 0]
Unique values for column 'Cholesterol': ['208' '389' '324' '383' '318' '297' '358' '220' '145' '248' '373' '374'
 '228' '259' '122' '379' '166' '303' '340' '294' '359' '202' '133' '159'
 '271' '273' '328' '154' '135' '197' '321' '375' '360' '263' '201' '347'
 '129' '229' '251' '121' '190' '185' '279' '336' '192' '180' '203' '368'
 '222' '243' '218' '120' '285' '377' '369' '311' '139' '266' '153' '339'
 '329' '333' '398' '124' '183' '163' '362' '390' '200' '396' '255' '209'
 '247' '250' '227' '246' '223' '330' '195' '194' '178' '155' '240' '237'
 '216' '276' '224' '326' '198' '301' '314' '304' '334' '213' '254' '230'
 '316' '277' '388' '206' '384' '205' '261' '308' '338' '382' '291' '168'
 '171' '378' '253' '245' '226' '281' '123' '173' '231' '234' '268' '306'
 '186' '293' '161' '380' '239' '149' '320' '219' '335' '265' '126' '307'
 '270' '225' '193' '148' '296' '136' '364' '353' '252' '232' '387' '299'
 '357' '214' '370' '345' '351' '344' '152' '150' '131' '272' '302' '337'
 '170' '356' '274' '188' '125' '138' '376' '181' '184' '275' '394' '128'
 '217' '399' '283' '289' '284' '327' '262' '212' '350' '385' '162' '141'
 '361' '244' '295' '287' '144' '354' '363' '352' '140' '196' '172' '319'
 '325' '331' '392' '147' '187' '346' '286' '151' '300' '165' '343' '366'
 '317' '386' '158' '157' '242' '241' '365' '257' '348' '175' '298' '269'
 '267' '397' '310' '341' '204' '127' '290' '280' '132' '322' '179' '199'
 '143' '312' '288' '395' '189' '156' '238' '381' '391' '355' '210' '400'
 '260' '235' '167' '256' '249' '207' '130' '134' '137' '305' '236' '315'
 '292' '323' '146' '258' '332' '372' '142' '309' '177' '367' '371' '211'
 '282' '342' '264' '176' '160' '233' '313' '164' '349' '221' '191' '174'
 '393' '278' '215' '169' '182']
Unique values for column 'Heart Rate': ['72' '98' '73' '93' '48' '84' '107' '68' '55' '97' '70' '85' '102' '40'
 '56' '104' '71' '69' '66' '81' '52' '105' '96' '74' '49' '45' '50' '46'
 '44' '106' '83' '86' '65' '101' '51' '43' '79' '90' '94' '78' '92' '54'
 '109' '61' '64' '82' '110' '42' '63' '41' '100' '76' '75' '58' '53' '60'
 '77' '47' '59' '57' '87' '67' '88' '99' '80' '95' '108' '89' '62' '103'
 '91']
Unique values for column 'Diabetes': ['0' '1']
Unique values for column 'Family History': ['0' '1']
Unique values for column 'Smoking': ['1' '0']
Unique values for column 'Obesity': ['0' '1']
Unique values for column 'Alcohol Consumption': ['0' '1']
Unique values for column 'Exercise Hours Per Week': ['4.168188835442079' '1.8132416178634458' '2.0783529861178884' ...
 '3.1484379076856017' '3.7899498336153736' '18.081747965841146']
Unique values for column 'Diet': ['Average' 'Unhealthy' 'Healthy']
Unique values for column 'Previous Heart Problems': ['0' '1']
Unique values for column 'Medication Use': ['0' '1']
Unique values for column 'Stress Level': ['9' '1' '6' '2' '7' '4' '5' '8' '10' '3']
Unique values for column 'Sedentary Hours Per Day': ['6.6150014529140595' '4.963458839757678' '9.463425838029828' ...
 '2.3752137292172013' '0.02910425818218565' '9.005234382727117']
Unique values for column 'Income': ['261404' '285768' '235282' ... '36998' '209943' '247338']
Unique values for column 'BMI': ['31.251232725295402' '27.1949733519874' '28.176570683909873' ...
 '35.40614615890456' '27.29402008767082' '32.91415085636539']
Unique values for column 'Triglycerides': ['286' '235' '587' '378' '231' '795' '284' '370' '790' '232' '469' '523'
 '590' '506' '635' '773' '68' '402' '517' '247' '747' '360' '358' '526'
 '605' '667' '316' '551' '482' '718' '297' '661' '558' '209' '586' '743'
 '411' '785' '697' '519' '595' '452' '158' '679' '675' '792' '584' '366'
 '741' '474' '92' '410' '398' '493' '614' '682' '106' '216' '408' '628'
 '481' '67' '82' '305' '164' '211' '511' '766' '547' '327' '367' '681'
 '131' '42' '692' '664' '543' '689' '569' '458' '683' '779' '136' '643'
 '653' '55' '275' '314' '760' '404' '576' '690' '648' '385' '255' '468'
 '784' '509' '205' '109' '530' '654' '331' '485' '250' '113' '377' '180'
 '229' '602' '285' '471' '554' '344' '416' '445' '709' '426' '528' '388'
 '441' '306' '749' '347' '341' '451' '356' '336' '455' '223' '262' '239'
 '555' '363' '489' '788' '121' '553' '617' '174' '167' '563' '665' '65'
 '657' '237' '141' '767' '292' '214' '221' '447' '634' '460' '711' '97'
 '267' '695' '717' '383' '332' '449' '701' '524' '549' '31' '276' '744'
 '128' '52' '394' '54' '739' '407' '751' '436' '473' '218' '129' '579'
 '492' '696' '202' '197' '521' '325' '35' '123' '694' '434' '248' '348'
 '750' '431' '714' '649' '668' '401' '610' '244' '691' '88' '532' '777'
 '420' '350' '652' '413' '754' '753' '457' '122' '312' '778' '676' '775'
 '183' '601' '317' '592' '191' '83' '32' '453' '423' '234' '650' '565'
 '798' '769' '412' '63' '198' '93' '764' '737' '94' '298' '288' '735'
 '190' '281' '146' '574' '359' '155' '719' '466' '273' '515' '187' '544'
 '103' '132' '118' '115' '85' '38' '117' '362' '133' '498' '645' '339'
 '787' '733' '663' '291' '502' '78' '81' '257' '624' '91' '374' '270'
 '797' '446' '464' '450' '722' '556' '184' '428' '796' '656' '134' '196'
 '623' '522' '376' '730' '463' '99' '593' '47' '148' '302' '57' '280'
 '389' '629' '294' '186' '700' '774' '181' '375' '467' '603' '616' '380'
 '495' '698' '318' '207' '780' '51' '84' '425' '310' '126' '56' '472'
 '669' '688' '655' '39' '333' '501' '479' '540' '433' '179' '490' '204'
 '644' '525' '546' '486' '320' '319' '58' '591' '165' '732' '195' '478'
 '461' '631' '301' '50' '315' '194' '199' '160' '149' '527' '406' '161'
 '125' '200' '277' '308' '69' '427' '236' '77' '500' '269' '79' '168'
 '575' '606' '355' '636' '64' '251' '245' '228' '287' '800' '483' '791'
 '260' '604' '536' '559' '124' '254' '159' '73' '542' '390' '755' '60'
 '61' '491' '40' '437' '215' '440' '379' '789' '266' '505' '243' '783'
 '403' '637' '156' '729' '438' '507' '725' '562' '324' '87' '253' '626'
 '541' '364' '456' '30' '182' '621' '494' '776' '442' '429' '684' '219'
 '70' '98' '166' '95' '135' '646' '337' '226' '710' '608' '208' '724'
 '704' '512' '206' '224' '622' '598' '465' '119' '293' '630' '386' '513'
 '45' '578' '261' '217' '715' '282' '391' '580' '192' '399' '249' '396'
 '278' '448' '782' '419' '503' '220' '49' '304' '157' '150' '545' '627'
 '582' '178' '263' '33' '299' '303' '66' '763' '256' '139' '651' '756'
 '372' '345' '48' '46' '421' '43' '771' '210' '781' '41' '508' '353' '566'
 '726' '736' '326' '759' '477' '369' '188' '104' '329' '309' '384' '599'
 '415' '770' '571' '552' '145' '632' '373' '71' '550' '583' '322' '475'
 '357' '673' '454' '757' '201' '100' '274' '258' '613' '233' '330' '731'
 '761' '296' '573' '335' '716' '642' '142' '674' '572' '638' '222' '752'
 '740' '397' '594' '705' '381' '615' '539' '242' '499' '435' '680' '535'
 '238' '283' '89' '589' '666' '678' '76' '176' '620' '75' '721' '143'
 '723' '570' '44' '203' '259' '677' '734' '662' '707' '745' '487' '577'
 '443' '120' '111' '365' '116' '538' '162' '742' '212' '581' '313' '36'
 '400' '619' '609' '252' '706' '264' '290' '138' '300' '346' '712' '34'
 '387' '140' '154' '758' '462' '672' '713' '86' '414' '699' '529' '382'
 '432' '368' '193' '72' '537' '560' '189' '342' '531' '311' '241' '685'
 '497' '640' '321' '480' '144' '585' '171' '727' '660' '799' '600' '597'
 '213' '708' '151' '265' '618' '658' '746' '307' '53' '514' '611' '153'
 '352' '225' '567' '702' '520' '417' '102' '607' '548' '647' '476' '762'
 '147' '424' '459' '409' '74' '510' '37' '323' '240' '175' '786' '80'
 '439' '504' '772' '670' '59' '334' '703' '392' '90' '496' '422' '279'
 '343' '671' '794' '163' '328' '625' '272' '227' '152' '105' '693' '96'
 '484' '568' '633' '659' '230' '112' '793' '101' '172' '110' '612' '185'
 '289' '418' '533' '686' '641' '169' '349' '173' '516' '62' '557' '596'
 '728' '371' '738' '444' '561' '114' '765' '338' '588' '246' '295' '564'
 '488' '177' '687' '395' '518' '127' '639' '137' '354' '271' '107' '340'
 '534' '768' '130' '720' '405' '430' '268' '108' '748' '351' '393' '361'
 '170' '470']
Unique values for column 'Physical Activity Days Per Week': ['0' '1' '4' '3' '5' '6' '7' '2']
Unique values for column 'Sleep Hours Per Day': ['6' '7' '4' '5' '10' '8' '9']
Unique values for column 'Country': ['Argentina' 'Canada' 'France' 'Thailand' 'Germany' 'Japan' 'Brazil'
 'South Africa' 'United States' 'Vietnam' 'China' 'Italy' 'Spain' 'India'
 'Nigeria' 'New Zealand' 'South Korea' 'Australia' 'Colombia'
 'United Kingdom']
Unique values for column 'Continent': ['South America' 'North America' 'Europe' 'Asia' 'Africa' 'Australia']
Unique values for column 'Hemisphere': [1 0]
Unique values for column 'Heart Attack Risk': ['0' '1']
Unique values for column 'Systolic Pressure': [158 165 174 163  91 172 102 131 144 160 107 101 169 112 114 173 120 180
 130 175 161 140 148 113  99 178 111 103  94 127 134 115 124 104 149 106
 168 159 100 118 152 151 109  92 179 132 177 110 116 139 164 122  95 155
 108 105 146 166 117 145 170 125 135 137 121 126 142 128 143  96 153 156
 162  98 150 133 157 154 123 171  90 176 167 141 138 119  97  93 147 129
 136]
Unique values for column 'Diastolic Pressure': [ 88  93  99 100  86  73  68 105  70  69  71  72  81  75  74  98 101  84
  60 109  90  95  76  78  77  91  85 107  92  96 108  63 106  79  80  83
  61  65  97  94  66 110 104  67  89 102  82  62  64  87 103]

In [104]:
# Define numerical features
numerical_features = [col for col in pd_df.columns if col not in ['Patient ID','Heart Attack Risk'] + categorical_features]

In [105]:
# Save encoded_df as a JSON file with records orientation
#encoded_df.to_json("Resources/encoded_df.json")

In [106]:
encoded_df = pd.concat([pd_df.drop(categorical_features, axis=1), categorical_dummies], axis=1)
encoded_df['Patient ID'] = pd_df['Patient ID']
encoded_df = encoded_df.set_index('Patient ID')
encoded_df[:5]

,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Hemisphere,Heart Attack Risk,Systolic Pressure,Diastolic Pressure,Country_Argentina,Country_Australia,Country_Brazil,Country_Canada,Country_China,Country_Colombia,Country_France,Country_Germany,Country_India,Country_Italy,Country_Japan,Country_New Zealand,Country_Nigeria,Country_South Africa,Country_South Korea,Country_Spain,Country_Thailand,Country_United Kingdom,Country_United States,Country_Vietnam,Continent_Africa,Continent_Asia,Continent_Australia,Continent_Europe,Continent_North America,Continent_South America,Diet_Average,Diet_Healthy,Diet_Unhealthy
Patient ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
BMW7812,67,1,208,72,0,0,1,0,0,4.168188835442079,0,0,9,6.6150014529140595,261404,31.251232725295402,286,0,6,1,0,158,88,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
CZE1114,21,1,389,98,1,1,1,1,1,1.8132416178634458,1,0,1,4.963458839757678,285768,27.1949733519874,235,1,7,0,0,165,93,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
BNI9906,21,0,324,72,1,0,0,0,0,2.0783529861178884,1,1,9,9.463425838029828,235282,28.176570683909873,587,4,4,0,0,174,99,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
JLN3497,84,1,383,73,1,1,1,0,1,9.82812959348533,1,0,9,7.648980824461007,125640,36.464704293082846,378,3,4,0,0,163,100,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
GFO8847,66,1,318,93,1,1,1,1,0,5.804298820315434,1,0,6,1.5148209264291386,160555,21.809144180619754,231,1,5,0,0,91,88,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1

In [107]:
encoded_df.shape

(8763, 52)

In [108]:
encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8763 entries, BMW7812 to ZWN9666
Data columns (total 52 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              8763 non-null   object
 1   Sex                              8763 non-null   int64
 2   Cholesterol                      8763 non-null   object
 3   Heart Rate                       8763 non-null   object
 4   Diabetes                         8763 non-null   object
 5   Family History                   8763 non-null   object
 6   Smoking                          8763 non-null   object
 7   Obesity                          8763 non-null   object
 8   Alcohol Consumption              8763 non-null   object
 9   Exercise Hours Per Week          8763 non-null   object
 10  Previous Heart Problems          8763 non-null   object
 11  Medication Use                   8763 non-null   object
 12  Stress Level                     8763 non-null   object
 13  Sedentary Hours Per Day          8763 non-null   object
 14  Income                           8763 non-null   object
 15  BMI                              8763 non-null   object
 16  Triglycerides                    8763 non-null   object
 17  Physical Activity Days Per Week  8763 non-null   object
 18  Sleep Hours Per Day              8763 non-null   object
 19  Hemisphere                       8763 non-null   int64
 20  Heart Attack Risk                8763 non-null   object
 21  Systolic Pressure                8763 non-null   int64
 22  Diastolic Pressure               8763 non-null   int64
 23  Country_Argentina                8763 non-null   uint8
 24  Country_Australia                8763 non-null   uint8
 25  Country_Brazil                   8763 non-null   uint8
 26  Country_Canada                   8763 non-null   uint8
 27  Country_China                    8763 non-null   uint8
 28  Country_Colombia                 8763 non-null   uint8
 29  Country_France                   8763 non-null   uint8
 30  Country_Germany                  8763 non-null   uint8
 31  Country_India                    8763 non-null   uint8
 32  Country_Italy                    8763 non-null   uint8
 33  Country_Japan                    8763 non-null   uint8
 34  Country_New Zealand              8763 non-null   uint8
 35  Country_Nigeria                  8763 non-null   uint8
 36  Country_South Africa             8763 non-null   uint8
 37  Country_South Korea              8763 non-null   uint8
 38  Country_Spain                    8763 non-null   uint8
 39  Country_Thailand                 8763 non-null   uint8
 40  Country_United Kingdom           8763 non-null   uint8
 41  Country_United States            8763 non-null   uint8
 42  Country_Vietnam                  8763 non-null   uint8
 43  Continent_Africa                 8763 non-null   uint8
 44  Continent_Asia                   8763 non-null   uint8
 45  Continent_Australia              8763 non-null   uint8
 46  Continent_Europe                 8763 non-null   uint8
 47  Continent_North America          8763 non-null   uint8
 48  Continent_South America          8763 non-null   uint8
 49  Diet_Average                     8763 non-null   uint8
 50  Diet_Healthy                     8763 non-null   uint8
 51  Diet_Unhealthy                   8763 non-null   uint8
dtypes: int64(4), object(19), uint8(29)
memory usage: 1.8+ MB

In [109]:
# Convert columns to appropriate data types
encoded_df['Age'] = encoded_df['Age'].astype(int)
encoded_df['Cholesterol'] = encoded_df['Cholesterol'].astype(int)
encoded_df['Heart Rate'] = encoded_df['Heart Rate'].astype(int)
encoded_df['Diabetes'] = encoded_df['Diabetes'].astype(int)
encoded_df['Family History'] = encoded_df['Family History'].astype(int)
encoded_df['Smoking'] = encoded_df['Smoking'].astype(int)
encoded_df['Obesity'] = encoded_df['Obesity'].astype(int)
encoded_df['Alcohol Consumption'] = encoded_df['Alcohol Consumption'].astype(int)
encoded_df['Exercise Hours Per Week'] = encoded_df['Exercise Hours Per Week'].astype(float)
encoded_df['Previous Heart Problems'] = encoded_df['Previous Heart Problems'].astype(int)
encoded_df['Medication Use'] = encoded_df['Medication Use'].astype(int)
encoded_df['Stress Level'] = encoded_df['Stress Level'].astype(int)
encoded_df['Sedentary Hours Per Day'] = encoded_df['Sedentary Hours Per Day'].astype(float)
encoded_df['Income'] = encoded_df['Income'].astype(int)
encoded_df['BMI'] = encoded_df['BMI'].astype(float)
encoded_df['Triglycerides'] = encoded_df['Triglycerides'].astype(int)
encoded_df['Physical Activity Days Per Week'] = encoded_df['Physical Activity Days Per Week'].astype(int)
encoded_df['Sleep Hours Per Day'] = encoded_df['Sleep Hours Per Day'].astype(int)
encoded_df['Heart Attack Risk'] = encoded_df['Heart Attack Risk'].astype(int)

# Print the data types of all columns
print(encoded_df.dtypes)

Age                                  int64
Sex                                  int64
Cholesterol                          int64
Heart Rate                           int64
Diabetes                             int64
Family History                       int64
Smoking                              int64
Obesity                              int64
Alcohol Consumption                  int64
Exercise Hours Per Week            float64
Previous Heart Problems              int64
Medication Use                       int64
Stress Level                         int64
Sedentary Hours Per Day            float64
Income                               int64
BMI                                float64
Triglycerides                        int64
Physical Activity Days Per Week      int64
Sleep Hours Per Day                  int64
Hemisphere                           int64
Heart Attack Risk                    int64
Systolic Pressure                    int64
Diastolic Pressure                   int64
Country_Argentina                    uint8
Country_Australia                    uint8
Country_Brazil                       uint8
Country_Canada                       uint8
Country_China                        uint8
Country_Colombia                     uint8
Country_France                       uint8
Country_Germany                      uint8
Country_India                        uint8
Country_Italy                        uint8
Country_Japan                        uint8
Country_New Zealand                  uint8
Country_Nigeria                      uint8
Country_South Africa                 uint8
Country_South Korea                  uint8
Country_Spain                        uint8
Country_Thailand                     uint8
Country_United Kingdom               uint8
Country_United States                uint8
Country_Vietnam                      uint8
Continent_Africa                     uint8
Continent_Asia                       uint8
Continent_Australia                  uint8
Continent_Europe                     uint8
Continent_North America              uint8
Continent_South America              uint8
Diet_Average                         uint8
Diet_Healthy                         uint8
Diet_Unhealthy                       uint8
dtype: object

In [137]:
# Compute the correlation matrix
correlation_with_target = encoded_df.corr()['Heart Attack Risk']

# Print the correlation of each feature with the target variable
print(correlation_with_target)

# Or you can visualize it using a heatmap
plt.figure(figsize=(12, 10))
sns.heatmap(correlation_matrix[['Heart Attack Risk']], annot=True, cmap='coolwarm', fmt=".2f")
plt.title("Correlation with Heart Attack Risk")
plt.show()

Age                                6.40e-03
Sex                                3.10e-03
Cholesterol                        1.93e-02
Heart Rate                        -4.25e-03
Diabetes                           1.72e-02
Family History                    -1.65e-03
Smoking                           -4.05e-03
Obesity                           -1.33e-02
Alcohol Consumption               -1.38e-02
Exercise Hours Per Week            1.11e-02
Previous Heart Problems            2.74e-04
Medication Use                     2.23e-03
Stress Level                      -4.11e-03
Sedentary Hours Per Day           -5.61e-03
Income                             9.63e-03
BMI                                2.03e-05
Triglycerides                      1.05e-02
Physical Activity Days Per Week   -5.01e-03
Sleep Hours Per Day               -1.85e-02
Hemisphere                        -1.27e-02
Heart Attack Risk                  1.00e+00
Systolic Pressure                  1.86e-02
Diastolic Pressure                -7.51e-03
Country_Argentina                  5.58e-03
Country_Australia                  7.73e-03
Country_Brazil                    -2.66e-03
Country_Canada                     4.22e-04
Country_China                     -1.29e-03
Country_Colombia                   9.19e-03
Country_France                    -2.99e-03
Country_Germany                    1.19e-03
Country_India                     -2.09e-02
Country_Italy                     -2.02e-02
Country_Japan                     -1.22e-02
Country_New Zealand               -5.28e-03
Country_Nigeria                    1.89e-02
Country_South Africa              -9.13e-03
Country_South Korea                1.86e-02
Country_Spain                     -4.44e-03
Country_Thailand                   8.49e-03
Country_United Kingdom            -3.96e-03
Country_United States              1.73e-02
Country_Vietnam                   -4.70e-03
Continent_Africa                   7.38e-03
Continent_Asia                    -5.73e-03
Continent_Australia                1.85e-03
Continent_Europe                  -1.51e-02
Continent_North America            1.28e-02
Continent_South America            7.30e-03
Diet_Average                      -8.64e-03
Diet_Healthy                       9.41e-03
Diet_Unhealthy                    -8.03e-04
Name: Heart Attack Risk, dtype: float64

NameError: name 'plt' is not defined

# Separate features and target variable

In [111]:
X = encoded_df.drop(['Heart Attack Risk', 'Sex', 'Diabetes', 'Family History',
       'Smoking', 'Obesity', 'Alcohol Consumption',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Hemisphere',
       'Country_Argentina', 'Country_Australia', 'Country_Brazil',
       'Country_Canada', 'Country_China', 'Country_Colombia', 'Country_France',
       'Country_Germany', 'Country_India', 'Country_Italy', 'Country_Japan',
       'Country_New Zealand', 'Country_Nigeria', 'Country_South Africa',
       'Country_South Korea', 'Country_Spain', 'Country_Thailand',
       'Country_United Kingdom', 'Country_United States', 'Country_Vietnam',
       'Continent_Africa', 'Continent_Asia', 'Continent_Australia',
       'Continent_Europe', 'Continent_North America',
       'Continent_South America', 'Diet_Average', 'Diet_Healthy',
       'Diet_Unhealthy'], axis=1)
y = encoded_df['Heart Attack Risk']

# Split the data into training and testing sets

In [112]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [113]:
# Define features for scale
scaled_features = ['Age',
 'Cholesterol',
 'Heart Rate',
 'Exercise Hours Per Week',
 'Stress Level',
 'Sedentary Hours Per Day',
 'Income',
 'BMI',
 'Triglycerides',
 'Physical Activity Days Per Week',
 'Sleep Hours Per Day',
 'Systolic Pressure',
 'Diastolic Pressure']

In [114]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [115]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [116]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [117]:
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=300, random_state=78)

In [118]:
# Fit the model and use .ravel()on the "y_train" data. 
rf_model = rf_model.fit(X_train_scaled, y_train)

In [119]:
# Making predictions using the testing data
rf_predictions = rf_model.predict(X_test_scaled)

In [120]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, rf_predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, rf_predictions)

In [121]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, rf_predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         1102           23
Actual 1          610           18

Accuracy Score : 0.638904734740445
Classification Report
              precision    recall  f1-score   support

           0       0.64      0.98      0.78      1125
           1       0.44      0.03      0.05       628

    accuracy                           0.64      1753
   macro avg       0.54      0.50      0.42      1753
weighted avg       0.57      0.64      0.52      1753

In [122]:
# Get the feature importance array
importances = rf_model.feature_importances_

# List the top 10 most important features
importances_top_10 = sorted(zip(importances, X.columns), reverse=True)[:10]
print("Top 10 most important features:")
pprint(importances_top_10)

Top 10 most important features:
[(0.11080455273543065, 'BMI'),
 (0.10947995508065286, 'Sedentary Hours Per Day'),
 (0.10913066847405627, 'Exercise Hours Per Week'),
 (0.10672541536156116, 'Triglycerides'),
 (0.1062285284481457, 'Income'),
 (0.10014200226002866, 'Cholesterol'),
 (0.09338369460760643, 'Systolic Pressure'),
 (0.08990770599628052, 'Age'),
 (0.08864652498463449, 'Heart Rate'),
 (0.08555095205160324, 'Diastolic Pressure')]

# KNN model

In [123]:
X = encoded_df.drop(['Heart Attack Risk', 'Sex', 'Diabetes', 'Family History',
       'Smoking', 'Obesity', 'Alcohol Consumption',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Hemisphere',
       'Country_Argentina', 'Country_Australia', 'Country_Brazil',
       'Country_Canada', 'Country_China', 'Country_Colombia', 'Country_France',
       'Country_Germany', 'Country_India', 'Country_Italy', 'Country_Japan',
       'Country_New Zealand', 'Country_Nigeria', 'Country_South Africa',
       'Country_South Korea', 'Country_Spain', 'Country_Thailand',
       'Country_United Kingdom', 'Country_United States', 'Country_Vietnam',
       'Continent_Africa', 'Continent_Asia', 'Continent_Australia',
       'Continent_Europe', 'Continent_North America',
       'Continent_South America', 'Diet_Average', 'Diet_Healthy',
       'Diet_Unhealthy'], axis=1)
y = encoded_df['Heart Attack Risk']

In [124]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [125]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [126]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [127]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [128]:
from sklearn.neighbors import KNeighborsClassifier
# Instantiate the model with k = 3 neighbors
knn_model = KNeighborsClassifier(n_neighbors=50)

# Train the model
knn_model.fit(X_train_scaled, y_train)
# Create predictions
knn_y_pred = knn_model.predict(X_test_scaled)

In [129]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, knn_y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, knn_y_pred)

In [130]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test,  knn_y_pred))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         1114           11
Actual 1          610           18

Accuracy Score : 0.6457501426126641
Classification Report
              precision    recall  f1-score   support

           0       0.65      0.99      0.78      1125
           1       0.62      0.03      0.05       628

    accuracy                           0.65      1753
   macro avg       0.63      0.51      0.42      1753
weighted avg       0.64      0.65      0.52      1753

# SVC model

In [131]:
X = encoded_df.drop(['Heart Attack Risk', 'Sex', 'Diabetes', 'Family History',
       'Smoking', 'Obesity', 'Alcohol Consumption',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Hemisphere',
       'Country_Argentina', 'Country_Australia', 'Country_Brazil',
       'Country_Canada', 'Country_China', 'Country_Colombia', 'Country_France',
       'Country_Germany', 'Country_India', 'Country_Italy', 'Country_Japan',
       'Country_New Zealand', 'Country_Nigeria', 'Country_South Africa',
       'Country_South Korea', 'Country_Spain', 'Country_Thailand',
       'Country_United Kingdom', 'Country_United States', 'Country_Vietnam',
       'Continent_Africa', 'Continent_Asia', 'Continent_Australia',
       'Continent_Europe', 'Continent_North America',
       'Continent_South America', 'Diet_Average', 'Diet_Healthy',
       'Diet_Unhealthy'], axis=1)
y = encoded_df['Heart Attack Risk']

In [132]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [133]:
from sklearn.svm import SVC 
SVC_model = SVC(kernel='linear')
SVC_model.fit(X_train, y_train)

SVC(kernel='linear')

In [134]:
SVC_predictions = SVC_model.predict(X_test)

In [135]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, SVC_predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, SVC_predictions)

In [136]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test,  SVC_predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         1096           29
Actual 1          617           11

Accuracy Score : 0.6314888762122076
Classification Report
              precision    recall  f1-score   support

           0       0.64      0.97      0.77      1125
           1       0.28      0.02      0.03       628

    accuracy                           0.63      1753
   macro avg       0.46      0.50      0.40      1753
weighted avg       0.51      0.63      0.51      1753