In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from pprint import pprint


#Spark imports
!wget -q https://dlcdn.apache.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
!tar xf spark-3.5.0-bin-hadoop3.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j
import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


# Start a SparkSession
import findspark
findspark.init()


# Amazon SageMaker and related imports
import sagemaker
import sagemaker.amazon.common as smac
from sagemaker.deserializers import JSONDeserializer
from sagemaker.serializers import CSVSerializer
from sagemaker import get_execution_role
from sagemaker import image_uris
import boto3  # AWS Python sdk

%matplotlib inline

Requirement already satisfied: pyspark in /home/ec2-user/anaconda3/envs/tensorflow2_p310/lib/python3.10/site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /home/ec2-user/anaconda3/envs/tensorflow2_p310/lib/python3.10/site-packages (from pyspark) (0.10.9.5)
Requirement already satisfied: py4j in /home/ec2-user/anaconda3/envs/tensorflow2_p310/lib/python3.10/site-packages (0.10.9.5)
sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/ec2-user/.config/sagemaker/config.yaml

In [21]:
# Import packages
from pyspark.sql import SparkSession
# Import the time module so we can time our queries.
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").config("spark.driver.memory", "2g").getOrCreate()

In [22]:
# Read in data from S3 Bucket
from pyspark import SparkFiles
url = "Resources/heart_attack_prediction_dataset.csv"
#spark.sparkContext.addFile(url)
#df = spark.read.csv(SparkFiles.get("heart_attack_prediction_dataset.csv"), sep=",", header=True)

df = spark.read.csv(url, sep=",", header=True)

df.show()

+----------+---+------+-----------+--------------+----------+--------+--------------+-------+-------+-------------------+-----------------------+---------+-----------------------+--------------+------------+-----------------------+------+------------------+-------------+-------------------------------+-------------------+-------------+-------------+-------------------+-----------------+
|Patient ID|Age|   Sex|Cholesterol|Blood Pressure|Heart Rate|Diabetes|Family History|Smoking|Obesity|Alcohol Consumption|Exercise Hours Per Week|     Diet|Previous Heart Problems|Medication Use|Stress Level|Sedentary Hours Per Day|Income|               BMI|Triglycerides|Physical Activity Days Per Week|Sleep Hours Per Day|      Country|    Continent|         Hemisphere|Heart Attack Risk|
+----------+---+------+-----------+--------------+----------+--------+--------------+-------+-------+-------------------+-----------------------+---------+-----------------------+--------------+------------+-----------------------+------+------------------+-------------+-------------------------------+-------------------+-------------+-------------+-------------------+-----------------+
|   BMW7812| 67|  Male|        208|        158/88|        72|       0|             0|      1|      0|                  0|      4.168188835442079|  Average|                      0|             0|           9|     6.6150014529140595|261404|31.251232725295402|          286|                              0|                  6|    Argentina|South America|Southern Hemisphere|                0|
|   CZE1114| 21|  Male|        389|        165/93|        98|       1|             1|      1|      1|                  1|     1.8132416178634458|Unhealthy|                      1|             0|           1|      4.963458839757678|285768|  27.1949733519874|          235|                              1|                  7|       Canada|North America|Northern Hemisphere|                0|
|   BNI9906| 21|Female|        324|        174/99|        72|       1|             0|      0|      0|                  0|     2.0783529861178884|  Healthy|                      1|             1|           9|      9.463425838029828|235282|28.176570683909873|          587|                              4|                  4|       France|       Europe|Northern Hemisphere|                0|
|   JLN3497| 84|  Male|        383|       163/100|        73|       1|             1|      1|      0|                  1|       9.82812959348533|  Average|                      1|             0|           9|      7.648980824461007|125640|36.464704293082846|          378|                              3|                  4|       Canada|North America|Northern Hemisphere|                0|
|   GFO8847| 66|  Male|        318|         91/88|        93|       1|             1|      1|      1|                  0|      5.804298820315434|Unhealthy|                      1|             0|           6|     1.5148209264291386|160555|21.809144180619754|          231|                              1|                  5|     Thailand|         Asia|Northern Hemisphere|                0|
|   ZOO7941| 54|Female|        297|        172/86|        48|       1|             1|      1|      0|                  1|     0.6250080237057354|Unhealthy|                      1|             1|           2|      7.798752408582432|241339|20.146839503010046|          795|                              5|                 10|      Germany|       Europe|Northern Hemisphere|                1|
|   WYV0966| 90|  Male|        358|        102/73|        84|       0|             0|      1|      0|                  1|      4.098177090985471|  Healthy|                      0|             0|           7|     0.6273560009569512|190450|28.885810606590454|          284|                              4|                 10|       Canada|North America|Northern Hemisphere|                1|
|   XXM0972| 84|  Male|        220|        131/68|       107|       0|             0|      1|      1|                  1|      3.427928754300873|  Average|                      0|             1|           4|     10.543780239266841|122093|  22.2218617394038|          370|                              6|                  7|        Japan|         Asia|Northern Hemisphere|                1|
|   XCQ5937| 20|  Male|        145|       144/105|        68|       1|             0|      1|      1|                  0|     16.868302239450017|  Average|                      0|             0|           5|     11.348786873498993| 25086| 35.80990131909641|          790|                              7|                  4|       Brazil|South America|Southern Hemisphere|                0|
|   FTJ5456| 43|Female|        248|        160/70|        55|       0|             1|      1|      1|                  1|     0.1945150606299495|Unhealthy|                      0|             0|           4|      4.055114781794609|209703| 22.55891675229818|          232|                              7|                  7|        Japan|         Asia|Northern Hemisphere|                0|
|   HSD6283| 73|Female|        373|        107/69|        97|       1|             1|      1|      0|                  1|     16.841987593616683|  Average|                      1|             1|           8|      8.919879240644143| 50030|22.867910772851292|          469|                              0|                  4| South Africa|       Africa|Southern Hemisphere|                0|
|   YSP0073| 71|  Male|        374|        158/71|        70|       1|             1|      1|      1|                  1|      8.251995072165778|  Average|                      0|             0|           4|      7.227338314321001|163066| 32.48534524081809|          523|                              4|                  8|United States|North America|Northern Hemisphere|                0|
|   FPS0415| 77|  Male|        228|        101/72|        68|       1|             1|      1|      1|                  1|     19.633268156072297|Unhealthy|                      0|             0|           9|      10.91752425375187| 29886| 35.10223615396757|          590|                              7|                  6|      Vietnam|         Asia|Northern Hemisphere|                1|
|   YYU9565| 60|  Male|        259|        169/72|        85|       1|             1|      1|      0|                  1|     17.037374183793826|  Healthy|                      1|             1|           1|      8.727417211573485|292173|25.564897154053256|          506|                              1|                  4|        China|         Asia|Northern Hemisphere|                1|
|   VTW9069| 88|  Male|        297|        112/81|       102|       1|             1|      1|      0|                  1|     15.387604628162732|Unhealthy|                      0|             1|           2|     10.425489575178839|165300|25.491740663098113|          635|                              3|                  6|        China|         Asia|Northern Hemisphere|                0|
|   DCY3282| 73|  Male|        122|        114/88|        97|       1|             1|      1|      0|                  1|      14.55966449587795|  Average|                      0|             0|           5|     10.086478972289001|265839| 36.52439523724413|          773|                              5|                  8|        Italy|       Europe|Southern Hemisphere|                1|
|   DXB2434| 69|  Male|        379|        173/75|        40|       1|             1|      1|      1|                  1|      4.184648045763792|  Average|                      1|             0|           5|      9.060508567942696|267997| 28.33274719642221|           68|                              3|                  6|       Brazil|South America|Southern Hemisphere|                0|
|   COP0566| 38|  Male|        166|        120/74|        56|       1|             0|      1|      1|                  0|      8.917907230374425|  Healthy|                      0|             1|           9|     3.6607487911676633| 48376| 29.51738755573402|          402|                              0|                  6|     Thailand|         Asia|Northern Hemisphere|                0|
|   XBI0592| 50|Female|        303|       120/100|       104|       1|             0|      1|      0|                  1|      4.943580247406594|  Average|                      1|             1|           1|     7.5869839411141005| 21501|25.964350731612438|          517|                              1|                  5|United States|North America|Northern Hemisphere|                1|
|   RQX1211| 60|  Male|        145|        160/98|        71|       1|             0|      1|      0|                  1|      1.892559330229886|  Healthy|                      1|             0|           8|      5.994227909599145|234966| 29.16231875379266|          247|                              7|                  7|       Canada|North America|Northern Hemisphere|                0|
+----------+---+------+-----------+--------------+----------+--------+--------------+-------+-------+-------------------+-----------------------+---------+-----------------------+--------------+------------+-----------------------+------+------------------+-------------+-------------------------------+-------------------+-------------+-------------+-------------------+-----------------+
only showing top 20 rows

In [23]:
df.printSchema()

root
 |-- Patient ID: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Cholesterol: string (nullable = true)
 |-- Blood Pressure: string (nullable = true)
 |-- Heart Rate: string (nullable = true)
 |-- Diabetes: string (nullable = true)
 |-- Family History: string (nullable = true)
 |-- Smoking: string (nullable = true)
 |-- Obesity: string (nullable = true)
 |-- Alcohol Consumption: string (nullable = true)
 |-- Exercise Hours Per Week: string (nullable = true)
 |-- Diet: string (nullable = true)
 |-- Previous Heart Problems: string (nullable = true)
 |-- Medication Use: string (nullable = true)
 |-- Stress Level: string (nullable = true)
 |-- Sedentary Hours Per Day: string (nullable = true)
 |-- Income: string (nullable = true)
 |-- BMI: string (nullable = true)
 |-- Triglycerides: string (nullable = true)
 |-- Physical Activity Days Per Week: string (nullable = true)
 |-- Sleep Hours Per Day: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Continent: string (nullable = true)
 |-- Hemisphere: string (nullable = true)
 |-- Heart Attack Risk: string (nullable = true)

In [24]:
df['Diabetes']

Column<'Diabetes'>

In [25]:
type(df['Diabetes'])

pyspark.sql.column.Column

In [26]:
# Convert PySpark DataFrame to Pandas DataFrame for display options
pd_df = df.toPandas()

# Set display options
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", None)
pd.set_option("display.precision", 2)

# Display the DataFrame
pd_df.head(10)

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,0,4.168188835442079,Average,0,0,9,6.6150014529140595,261404,31.251232725295402,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,1,1.8132416178634458,Unhealthy,1,0,1,4.963458839757678,285768,27.1949733519874,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,0,2.0783529861178884,Healthy,1,1,9,9.463425838029828,235282,28.176570683909873,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,1,9.82812959348533,Average,1,0,9,7.648980824461007,125640,36.464704293082846,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,0,5.804298820315434,Unhealthy,1,0,6,1.5148209264291386,160555,21.809144180619754,231,1,5,Thailand,Asia,Northern Hemisphere,0
5,ZOO7941,54,Female,297,172/86,48,1,1,1,0,1,0.6250080237057354,Unhealthy,1,1,2,7.798752408582432,241339,20.146839503010046,795,5,10,Germany,Europe,Northern Hemisphere,1
6,WYV0966,90,Male,358,102/73,84,0,0,1,0,1,4.098177090985471,Healthy,0,0,7,0.6273560009569512,190450,28.885810606590454,284,4,10,Canada,North America,Northern Hemisphere,1
7,XXM0972,84,Male,220,131/68,107,0,0,1,1,1,3.427928754300873,Average,0,1,4,10.543780239266841,122093,22.2218617394038,370,6,7,Japan,Asia,Northern Hemisphere,1
8,XCQ5937,20,Male,145,144/105,68,1,0,1,1,0,16.868302239450017,Average,0,0,5,11.348786873498993,25086,35.80990131909641,790,7,4,Brazil,South America,Southern Hemisphere,0
9,FTJ5456,43,Female,248,160/70,55,0,1,1,1,1,0.1945150606299495,Unhealthy,0,0,4,4.055114781794609,209703,22.55891675229818,232,7,7,Japan,Asia,Northern Hemisphere,0

In [27]:
pd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   object
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   object
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   object
 6   Diabetes                         8763 non-null   object
 7   Family History                   8763 non-null   object
 8   Smoking                          8763 non-null   object
 9   Obesity                          8763 non-null   object
 10  Alcohol Consumption              8763 non-null   object
 11  Exercise Hours Per Week          8763 non-null   object
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   object
 14  Medication Use                   8763 non-null   object
 15  Stress Level                     8763 non-null   object
 16  Sedentary Hours Per Day          8763 non-null   object
 17  Income                           8763 non-null   object
 18  BMI                              8763 non-null   object
 19  Triglycerides                    8763 non-null   object
 20  Physical Activity Days Per Week  8763 non-null   object
 21  Sleep Hours Per Day              8763 non-null   object
 22  Country                          8763 non-null   object
 23  Continent                        8763 non-null   object
 24  Hemisphere                       8763 non-null   object
 25  Heart Attack Risk                8763 non-null   object
dtypes: object(26)
memory usage: 1.7+ MB

In [28]:
# Split the "Blood Pressure" column into two separate columns for systolic and diastolic pressure
pd_df[['Systolic Pressure', 'Diastolic Pressure']] = pd_df['Blood Pressure'].str.split('/', expand=True)

# Convert the new columns to numeric
pd_df['Systolic Pressure'] = pd.to_numeric(pd_df['Systolic Pressure'])
pd_df['Diastolic Pressure'] = pd.to_numeric(pd_df['Diastolic Pressure'])

# Drop the original "Blood Pressure" column
pd_df.drop('Blood Pressure', axis=1, inplace=True)

pd_df.columns

Index(['Patient ID', 'Age', 'Sex', 'Cholesterol', 'Heart Rate', 'Diabetes',
       'Family History', 'Smoking', 'Obesity', 'Alcohol Consumption',
       'Exercise Hours Per Week', 'Diet', 'Previous Heart Problems',
       'Medication Use', 'Stress Level', 'Sedentary Hours Per Day', 'Income',
       'BMI', 'Triglycerides', 'Physical Activity Days Per Week',
       'Sleep Hours Per Day', 'Country', 'Continent', 'Hemisphere',
       'Heart Attack Risk', 'Systolic Pressure', 'Diastolic Pressure'],
      dtype='object')

In [29]:
# Dictionary mapping values in the 'gender' column to new values
mapping = {'Female':0,'Male':1,
           'Northern Hemisphere':0, 'Southern Hemisphere':1}

# Use the 'map' method to change the values in the 'gender' column
pd_df['Sex'] = pd_df['Sex'].map(mapping)
pd_df['Hemisphere'] = pd_df['Hemisphere'].map(mapping)

# Show DataFrame
pd_df[:5]

,Patient ID,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Diet,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk,Systolic Pressure,Diastolic Pressure
0,BMW7812,67,1,208,72,0,0,1,0,0,4.168188835442079,Average,0,0,9,6.6150014529140595,261404,31.251232725295402,286,0,6,Argentina,South America,1,0,158,88
1,CZE1114,21,1,389,98,1,1,1,1,1,1.8132416178634458,Unhealthy,1,0,1,4.963458839757678,285768,27.1949733519874,235,1,7,Canada,North America,0,0,165,93
2,BNI9906,21,0,324,72,1,0,0,0,0,2.0783529861178884,Healthy,1,1,9,9.463425838029828,235282,28.176570683909873,587,4,4,France,Europe,0,0,174,99
3,JLN3497,84,1,383,73,1,1,1,0,1,9.82812959348533,Average,1,0,9,7.648980824461007,125640,36.464704293082846,378,3,4,Canada,North America,0,0,163,100
4,GFO8847,66,1,318,93,1,1,1,1,0,5.804298820315434,Unhealthy,1,0,6,1.5148209264291386,160555,21.809144180619754,231,1,5,Thailand,Asia,0,0,91,88

In [51]:
# Check unique values for each column
for col in pd_df.columns:
    print(f"Unique values for column '{col}': {pd_df[col].unique()}")

Unique values for column 'Patient ID': ['BMW7812' 'CZE1114' 'BNI9906' ... 'XKA5925' 'EPE6801' 'ZWN9666']
Unique values for column 'Age': ['67' '21' '84' '66' '54' '90' '20' '43' '73' '71' '77' '60' '88' '69'
 '38' '50' '45' '36' '48' '40' '79' '63' '27' '25' '86' '42' '52' '29'
 '30' '47' '44' '33' '51' '70' '85' '31' '56' '24' '74' '72' '55' '26'
 '53' '46' '57' '22' '35' '39' '80' '65' '83' '82' '28' '19' '75' '18'
 '34' '37' '89' '32' '49' '23' '59' '62' '64' '61' '76' '41' '87' '81'
 '58' '78' '68']
Unique values for column 'Sex': [1 0]
Unique values for column 'Cholesterol': ['208' '389' '324' '383' '318' '297' '358' '220' '145' '248' '373' '374'
 '228' '259' '122' '379' '166' '303' '340' '294' '359' '202' '133' '159'
 '271' '273' '328' '154' '135' '197' '321' '375' '360' '263' '201' '347'
 '129' '229' '251' '121' '190' '185' '279' '336' '192' '180' '203' '368'
 '222' '243' '218' '120' '285' '377' '369' '311' '139' '266' '153' '339'
 '329' '333' '398' '124' '183' '163' '362' '390' '200' '396' '255' '209'
 '247' '250' '227' '246' '223' '330' '195' '194' '178' '155' '240' '237'
 '216' '276' '224' '326' '198' '301' '314' '304' '334' '213' '254' '230'
 '316' '277' '388' '206' '384' '205' '261' '308' '338' '382' '291' '168'
 '171' '378' '253' '245' '226' '281' '123' '173' '231' '234' '268' '306'
 '186' '293' '161' '380' '239' '149' '320' '219' '335' '265' '126' '307'
 '270' '225' '193' '148' '296' '136' '364' '353' '252' '232' '387' '299'
 '357' '214' '370' '345' '351' '344' '152' '150' '131' '272' '302' '337'
 '170' '356' '274' '188' '125' '138' '376' '181' '184' '275' '394' '128'
 '217' '399' '283' '289' '284' '327' '262' '212' '350' '385' '162' '141'
 '361' '244' '295' '287' '144' '354' '363' '352' '140' '196' '172' '319'
 '325' '331' '392' '147' '187' '346' '286' '151' '300' '165' '343' '366'
 '317' '386' '158' '157' '242' '241' '365' '257' '348' '175' '298' '269'
 '267' '397' '310' '341' '204' '127' '290' '280' '132' '322' '179' '199'
 '143' '312' '288' '395' '189' '156' '238' '381' '391' '355' '210' '400'
 '260' '235' '167' '256' '249' '207' '130' '134' '137' '305' '236' '315'
 '292' '323' '146' '258' '332' '372' '142' '309' '177' '367' '371' '211'
 '282' '342' '264' '176' '160' '233' '313' '164' '349' '221' '191' '174'
 '393' '278' '215' '169' '182']
Unique values for column 'Heart Rate': ['72' '98' '73' '93' '48' '84' '107' '68' '55' '97' '70' '85' '102' '40'
 '56' '104' '71' '69' '66' '81' '52' '105' '96' '74' '49' '45' '50' '46'
 '44' '106' '83' '86' '65' '101' '51' '43' '79' '90' '94' '78' '92' '54'
 '109' '61' '64' '82' '110' '42' '63' '41' '100' '76' '75' '58' '53' '60'
 '77' '47' '59' '57' '87' '67' '88' '99' '80' '95' '108' '89' '62' '103'
 '91']
Unique values for column 'Diabetes': ['0' '1']
Unique values for column 'Family History': ['0' '1']
Unique values for column 'Smoking': ['1' '0']
Unique values for column 'Obesity': ['0' '1']
Unique values for column 'Alcohol Consumption': ['0' '1']
Unique values for column 'Exercise Hours Per Week': ['4.168188835442079' '1.8132416178634458' '2.0783529861178884' ...
 '3.1484379076856017' '3.7899498336153736' '18.081747965841146']
Unique values for column 'Diet': ['Average' 'Unhealthy' 'Healthy']
Unique values for column 'Previous Heart Problems': ['0' '1']
Unique values for column 'Medication Use': ['0' '1']
Unique values for column 'Stress Level': ['9' '1' '6' '2' '7' '4' '5' '8' '10' '3']
Unique values for column 'Sedentary Hours Per Day': ['6.6150014529140595' '4.963458839757678' '9.463425838029828' ...
 '2.3752137292172013' '0.02910425818218565' '9.005234382727117']
Unique values for column 'Income': ['261404' '285768' '235282' ... '36998' '209943' '247338']
Unique values for column 'BMI': ['31.251232725295402' '27.1949733519874' '28.176570683909873' ...
 '35.40614615890456' '27.29402008767082' '32.91415085636539']
Unique values for column 'Triglycerides': ['286' '235' '587' '378' '231' '795' '284' '370' '790' '232' '469' '523'
 '590' '506' '635' '773' '68' '402' '517' '247' '747' '360' '358' '526'
 '605' '667' '316' '551' '482' '718' '297' '661' '558' '209' '586' '743'
 '411' '785' '697' '519' '595' '452' '158' '679' '675' '792' '584' '366'
 '741' '474' '92' '410' '398' '493' '614' '682' '106' '216' '408' '628'
 '481' '67' '82' '305' '164' '211' '511' '766' '547' '327' '367' '681'
 '131' '42' '692' '664' '543' '689' '569' '458' '683' '779' '136' '643'
 '653' '55' '275' '314' '760' '404' '576' '690' '648' '385' '255' '468'
 '784' '509' '205' '109' '530' '654' '331' '485' '250' '113' '377' '180'
 '229' '602' '285' '471' '554' '344' '416' '445' '709' '426' '528' '388'
 '441' '306' '749' '347' '341' '451' '356' '336' '455' '223' '262' '239'
 '555' '363' '489' '788' '121' '553' '617' '174' '167' '563' '665' '65'
 '657' '237' '141' '767' '292' '214' '221' '447' '634' '460' '711' '97'
 '267' '695' '717' '383' '332' '449' '701' '524' '549' '31' '276' '744'
 '128' '52' '394' '54' '739' '407' '751' '436' '473' '218' '129' '579'
 '492' '696' '202' '197' '521' '325' '35' '123' '694' '434' '248' '348'
 '750' '431' '714' '649' '668' '401' '610' '244' '691' '88' '532' '777'
 '420' '350' '652' '413' '754' '753' '457' '122' '312' '778' '676' '775'
 '183' '601' '317' '592' '191' '83' '32' '453' '423' '234' '650' '565'
 '798' '769' '412' '63' '198' '93' '764' '737' '94' '298' '288' '735'
 '190' '281' '146' '574' '359' '155' '719' '466' '273' '515' '187' '544'
 '103' '132' '118' '115' '85' '38' '117' '362' '133' '498' '645' '339'
 '787' '733' '663' '291' '502' '78' '81' '257' '624' '91' '374' '270'
 '797' '446' '464' '450' '722' '556' '184' '428' '796' '656' '134' '196'
 '623' '522' '376' '730' '463' '99' '593' '47' '148' '302' '57' '280'
 '389' '629' '294' '186' '700' '774' '181' '375' '467' '603' '616' '380'
 '495' '698' '318' '207' '780' '51' '84' '425' '310' '126' '56' '472'
 '669' '688' '655' '39' '333' '501' '479' '540' '433' '179' '490' '204'
 '644' '525' '546' '486' '320' '319' '58' '591' '165' '732' '195' '478'
 '461' '631' '301' '50' '315' '194' '199' '160' '149' '527' '406' '161'
 '125' '200' '277' '308' '69' '427' '236' '77' '500' '269' '79' '168'
 '575' '606' '355' '636' '64' '251' '245' '228' '287' '800' '483' '791'
 '260' '604' '536' '559' '124' '254' '159' '73' '542' '390' '755' '60'
 '61' '491' '40' '437' '215' '440' '379' '789' '266' '505' '243' '783'
 '403' '637' '156' '729' '438' '507' '725' '562' '324' '87' '253' '626'
 '541' '364' '456' '30' '182' '621' '494' '776' '442' '429' '684' '219'
 '70' '98' '166' '95' '135' '646' '337' '226' '710' '608' '208' '724'
 '704' '512' '206' '224' '622' '598' '465' '119' '293' '630' '386' '513'
 '45' '578' '261' '217' '715' '282' '391' '580' '192' '399' '249' '396'
 '278' '448' '782' '419' '503' '220' '49' '304' '157' '150' '545' '627'
 '582' '178' '263' '33' '299' '303' '66' '763' '256' '139' '651' '756'
 '372' '345' '48' '46' '421' '43' '771' '210' '781' '41' '508' '353' '566'
 '726' '736' '326' '759' '477' '369' '188' '104' '329' '309' '384' '599'
 '415' '770' '571' '552' '145' '632' '373' '71' '550' '583' '322' '475'
 '357' '673' '454' '757' '201' '100' '274' '258' '613' '233' '330' '731'
 '761' '296' '573' '335' '716' '642' '142' '674' '572' '638' '222' '752'
 '740' '397' '594' '705' '381' '615' '539' '242' '499' '435' '680' '535'
 '238' '283' '89' '589' '666' '678' '76' '176' '620' '75' '721' '143'
 '723' '570' '44' '203' '259' '677' '734' '662' '707' '745' '487' '577'
 '443' '120' '111' '365' '116' '538' '162' '742' '212' '581' '313' '36'
 '400' '619' '609' '252' '706' '264' '290' '138' '300' '346' '712' '34'
 '387' '140' '154' '758' '462' '672' '713' '86' '414' '699' '529' '382'
 '432' '368' '193' '72' '537' '560' '189' '342' '531' '311' '241' '685'
 '497' '640' '321' '480' '144' '585' '171' '727' '660' '799' '600' '597'
 '213' '708' '151' '265' '618' '658' '746' '307' '53' '514' '611' '153'
 '352' '225' '567' '702' '520' '417' '102' '607' '548' '647' '476' '762'
 '147' '424' '459' '409' '74' '510' '37' '323' '240' '175' '786' '80'
 '439' '504' '772' '670' '59' '334' '703' '392' '90' '496' '422' '279'
 '343' '671' '794' '163' '328' '625' '272' '227' '152' '105' '693' '96'
 '484' '568' '633' '659' '230' '112' '793' '101' '172' '110' '612' '185'
 '289' '418' '533' '686' '641' '169' '349' '173' '516' '62' '557' '596'
 '728' '371' '738' '444' '561' '114' '765' '338' '588' '246' '295' '564'
 '488' '177' '687' '395' '518' '127' '639' '137' '354' '271' '107' '340'
 '534' '768' '130' '720' '405' '430' '268' '108' '748' '351' '393' '361'
 '170' '470']
Unique values for column 'Physical Activity Days Per Week': ['0' '1' '4' '3' '5' '6' '7' '2']
Unique values for column 'Sleep Hours Per Day': ['6' '7' '4' '5' '10' '8' '9']
Unique values for column 'Country': ['Argentina' 'Canada' 'France' 'Thailand' 'Germany' 'Japan' 'Brazil'
 'South Africa' 'United States' 'Vietnam' 'China' 'Italy' 'Spain' 'India'
 'Nigeria' 'New Zealand' 'South Korea' 'Australia' 'Colombia'
 'United Kingdom']
Unique values for column 'Continent': ['South America' 'North America' 'Europe' 'Asia' 'Africa' 'Australia']
Unique values for column 'Hemisphere': [1 0]
Unique values for column 'Heart Attack Risk': ['0' '1']
Unique values for column 'Systolic Pressure': [158 165 174 163  91 172 102 131 144 160 107 101 169 112 114 173 120 180
 130 175 161 140 148 113  99 178 111 103  94 127 134 115 124 104 149 106
 168 159 100 118 152 151 109  92 179 132 177 110 116 139 164 122  95 155
 108 105 146 166 117 145 170 125 135 137 121 126 142 128 143  96 153 156
 162  98 150 133 157 154 123 171  90 176 167 141 138 119  97  93 147 129
 136]
Unique values for column 'Diastolic Pressure': [ 88  93  99 100  86  73  68 105  70  69  71  72  81  75  74  98 101  84
  60 109  90  95  76  78  77  91  85 107  92  96 108  63 106  79  80  83
  61  65  97  94  66 110 104  67  89 102  82  62  64  87 103]

In [52]:
# Define categorical features
categorical_features = ['Country', 'Continent', 'Diet'] 
categorical_dummies = pd.get_dummies(pd_df[categorical_features])
categorical_dummies[:5]

,Country_Argentina,Country_Australia,Country_Brazil,Country_Canada,Country_China,Country_Colombia,Country_France,Country_Germany,Country_India,Country_Italy,Country_Japan,Country_New Zealand,Country_Nigeria,Country_South Africa,Country_South Korea,Country_Spain,Country_Thailand,Country_United Kingdom,Country_United States,Country_Vietnam,Continent_Africa,Continent_Asia,Continent_Australia,Continent_Europe,Continent_North America,Continent_South America,Diet_Average,Diet_Healthy,Diet_Unhealthy
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1

In [53]:
# Define numerical features
numerical_features = [col for col in pd_df.columns if col not in ['Patient ID','Heart Attack Risk'] + categorical_features]

In [54]:
#categorical values
encoded_df = pd.concat([pd_df.drop(categorical_features, axis=1), categorical_dummies], axis=1)
encoded_df['Patient ID'] = pd_df['Patient ID']
encoded_df = encoded_df.set_index('Patient ID')
encoded_df.columns

Index(['Age', 'Sex', 'Cholesterol', 'Heart Rate', 'Diabetes', 'Family History',
       'Smoking', 'Obesity', 'Alcohol Consumption', 'Exercise Hours Per Week',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Hemisphere',
       'Heart Attack Risk', 'Systolic Pressure', 'Diastolic Pressure',
       'Country_Argentina', 'Country_Australia', 'Country_Brazil',
       'Country_Canada', 'Country_China', 'Country_Colombia', 'Country_France',
       'Country_Germany', 'Country_India', 'Country_Italy', 'Country_Japan',
       'Country_New Zealand', 'Country_Nigeria', 'Country_South Africa',
       'Country_South Korea', 'Country_Spain', 'Country_Thailand',
       'Country_United Kingdom', 'Country_United States', 'Country_Vietnam',
       'Continent_Africa', 'Continent_Asia', 'Continent_Australia',
       'Continent_Europe', 'Continent_North America',
       'Continent_South America', 'Diet_Average', 'Diet_Healthy',
       'Diet_Unhealthy'],
      dtype='object')

# Separate features and target variable

In [57]:
y = encoded_df['Heart Attack Risk']
X = encoded_df.drop(['Heart Attack Risk'], axis=1)

In [58]:
X.head(5)

,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Hemisphere,Systolic Pressure,Diastolic Pressure,Country_Argentina,Country_Australia,Country_Brazil,Country_Canada,Country_China,Country_Colombia,Country_France,Country_Germany,Country_India,Country_Italy,Country_Japan,Country_New Zealand,Country_Nigeria,Country_South Africa,Country_South Korea,Country_Spain,Country_Thailand,Country_United Kingdom,Country_United States,Country_Vietnam,Continent_Africa,Continent_Asia,Continent_Australia,Continent_Europe,Continent_North America,Continent_South America,Diet_Average,Diet_Healthy,Diet_Unhealthy
Patient ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
BMW7812,67,1,208,72,0,0,1,0,0,4.168188835442079,0,0,9,6.6150014529140595,261404,31.251232725295402,286,0,6,1,158,88,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
CZE1114,21,1,389,98,1,1,1,1,1,1.8132416178634458,1,0,1,4.963458839757678,285768,27.1949733519874,235,1,7,0,165,93,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
BNI9906,21,0,324,72,1,0,0,0,0,2.0783529861178884,1,1,9,9.463425838029828,235282,28.176570683909873,587,4,4,0,174,99,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
JLN3497,84,1,383,73,1,1,1,0,1,9.82812959348533,1,0,9,7.648980824461007,125640,36.464704293082846,378,3,4,0,163,100,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
GFO8847,66,1,318,93,1,1,1,1,0,5.804298820315434,1,0,6,1.5148209264291386,160555,21.809144180619754,231,1,5,0,91,88,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1

In [59]:
#balance labels y
balance_labels = y.value_counts()
balance_labels

0    5624
1    3139
Name: Heart Attack Risk, dtype: int64

There seems to be a bit of imbalance, with more instances of 
class 0 compared to class 1. Depending on our model's sensitivity to class 
imbalances, we may want to consider techniques like (1) oversampling, 
(2) undersampling, or (3) using class weights during model training to handle this imbalance.

In [60]:
# Split the data using train_test_split
# Assign a random_state of 1 to the function

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
X_train.shape

(7010, 51)

7010: This is the number of samples or instances in your training set. Each row represents a separate observation or data point in your dataset.

26: This is the number of features or variables in your dataset. Each column in your dataset corresponds to a different feature or attribute that is used for training your machine learning model.

So, in summary, you have 7010 training samples, and each sample has 26 features. This information is crucial for understanding the dimensions of your training data, especially when you're working with machine learning models that require input of specific shapes.

In [61]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_model = LogisticRegression(solver="lbfgs",max_iter=200, random_state=1)

In [62]:
# Fit the model using training data
logistic_model.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [64]:
print(f"Training Data Score: {logistic_model.score(X_train, y_train)}")
print(f"Testing Data Score: {logistic_model.score(X_test, y_test)}")

Training Data Score: 0.6393723252496434
Testing Data Score: 0.6514546491728466

In [65]:
# Make a prediction using the testing data
predictions = logistic_model.predict(X_test)
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop = True)
results.head(10)

  Prediction Actual
0          0      1
1          0      0
2          0      0
3          0      1
4          0      1
5          0      0
6          0      1
7          0      0
8          0      1
9          0      1

In [66]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.6514546491728466

### Evaluation of the models performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [67]:
from sklearn.metrics import accuracy_score
balanced_accuracy = accuracy_score(y_test, predictions)
balanced_accuracy

0.6514546491728466

In [68]:
    # Generate a confusion matrix for the model
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[1142,    0],
       [ 611,    0]])

Let's break down what each of these means:

True Negative (TN): 18673 instances were correctly predicted as class 0 (negative class).

False Positive (FP): 86 instances were incorrectly predicted as class 1 (positive class) when they were actually class 0.

False Negative (FN): 32 instances were incorrectly predicted as class 0 when they were actually class 1.

True Positive (TP): 593 instances were correctly predicted as class 1.

In [69]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.65      1.00      0.79      1142
           1       0.00      0.00      0.00       611

    accuracy                           0.65      1753
   macro avg       0.33      0.50      0.39      1753
weighted avg       0.42      0.65      0.51      1753

/home/ec2-user/anaconda3/envs/tensorflow2_p310/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/ec2-user/anaconda3/envs/tensorflow2_p310/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/ec2-user/anaconda3/envs/tensorflow2_p310/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Precision: Precision is the ratio of correctly predicted positive observations to the total predicted positives. In your case:

Precision for class 0: 0.65 (65% of instances predicted as class 0 were actually class 0)
Precision for class 1: 0.00 (None of the instances predicted as class 1 were actually class 1)
Recall (Sensitivity): Recall is the ratio of correctly predicted positive observations to the all observations in actual class. In your case:

Recall for class 0: 1.00 (All instances of class 0 were correctly predicted)
Recall for class 1: 0.00 (None of the instances of class 1 were correctly predicted)
F1-Score: F1-Score is the weighted average of Precision and Recall. It is a balance between precision and recall. In your case:

F1-Score for class 0: 0.79 (Weighted average of precision and recall for class 0)
F1-Score for class 1: 0.00 (Weighted average of precision and recall for class 1)
Support: The number of actual occurrences of each class in the specified dataset. In your case:

Support for class 0: 1142 instances
Support for class 1: 611 instances
Accuracy: Overall accuracy of the model on the testing data. In your case: 0.65 (65%)

Macro Average: The average of precision, recall, and F1-Score for both classes, without considering class imbalance. In your case:

Macro Average Precision: 0.33
Macro Average Recall: 0.50
Macro Average F1-Score: 0.39
Weighted Average: The average of precision, recall, and F1-Score, weighted by the number of samples in each class. In your case:

Weighted Average Precision: 0.42
Weighted Average Recall: 0.65
Weighted Average F1-Score: 0.51
These metrics provide a more nuanced understanding of your model's performance for each class and overall. In this case, it seems that the model is performing well in predicting class 0 but struggling to predict class 1, as indicated by the low recall and F1-Score for class 1. Depending on the specific goals of your model, you may need to adjust the model or data preprocessing to improve its performance.

In [70]:
#Handling Imbalanced Data:
    # Assuming logistic_model is instantiated
logistic_model = LogisticRegression(class_weight='balanced', random_state=1)

In [72]:
!pip install imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.12.0-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: numpy>=1.17.3 in /home/ec2-user/anaconda3/envs/tensorflow2_p310/lib/python3.10/site-packages (from imbalanced-learn) (1.26.1)
Requirement already satisfied: scipy>=1.5.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p310/lib/python3.10/site-packages (from imbalanced-learn) (1.11.3)
Requirement already satisfied: scikit-learn>=1.0.2 in /home/ec2-user/anaconda3/envs/tensorflow2_p310/lib/python3.10/site-packages (from imbalanced-learn) (1.3.2)
Requirement already satisfied: joblib>=1.1.1 in /home/ec2-user/anaconda3/envs/tensorflow2_p310/lib/python3.10/site-packages (from imbalanced-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p310/lib/python3.10/site-packages (from imbalanced-learn) (3.2.0)
Downloading imbalanced_learn-0.12.0-py3-none-any.whl (257 kB)
    257.7/257.7 kB 13.5 MB/s eta 0:00:00
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.12.0

In [73]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=1)
X_resampled, y_resampled = smote.fit_resample(X_train, y_train)

In [74]:
# Instantiate a new logistic regression model
logistic_model_resampled = LogisticRegression(random_state=1)

# Fit the model with the resampled data
logistic_model_resampled.fit(X_resampled, y_resampled)

# Make predictions on the testing data
predictions_resampled = logistic_model_resampled.predict(X_test)

In [75]:
#Evaluate the performance
accuracy_resampled = accuracy_score(y_test, predictions_resampled)
classification_report_resampled = classification_report(y_test, predictions_resampled)
confusion_matrix_resampled = confusion_matrix(y_test, predictions_resampled)

print("Accuracy (Resampled):", accuracy_resampled)
print("Classification Report (Resampled):\n", classification_report_resampled)
print("Confusion Matrix (Resampled):\n", confusion_matrix_resampled)

Accuracy (Resampled): 0.4997147746719909
Classification Report (Resampled):
               precision    recall  f1-score   support

           0       0.65      0.49      0.56      1142
           1       0.35      0.51      0.41       611

    accuracy                           0.50      1753
   macro avg       0.50      0.50      0.49      1753
weighted avg       0.55      0.50      0.51      1753

Confusion Matrix (Resampled):
 [[565 577]
 [300 311]]